:root {
  --BlackColor:#000;
  --DarkBlueColor:#006490;
  --DaknessBlue:#055375;
  --WhiteColor: #fff;
  --GrayColor:#6B7377;
  --GraySec:#777F8A;
  --GrayFill:#EEEEEE;
  --GreenColor:#039A7B;
  --DarkGreenColor:#02876d;
  --YellowColor:#E99005;
  --DarkYellowColor:#d98703;
  --Dark:#15252B;
  --bluebg:#036B98;
  --fillBlue:#DFF5FF;
  --fillGreen:#F3FFFD;
  --fillOrange:#FFF6E9;
  --fillRed:#FFE0DD;
  --red:#CE5B64;
  --BlueOldColor: #7aa3d1;
  --DarkBlueOldColor: #07669f;
  --DarkBlueSecColor:#4774AC;
  --GraySecColor: #707070;
  --BBB:#37B6CC;
}

html{
  scroll-behavior: smooth;
}
body{
  font-family: 'Almarai', sans-serif !important;
  font-size: 14px;
  direction: rtl;
  text-align: right ;
  overflow-x: hidden !important;
  transition: .75s ease-in-out;
}
#__nuxt{
  overflow-x: hidden !important;
}

a{
  text-decoration-line: none !important;
}
/* bootstrap modified */


/* class */
.text_blue{
  color: var(--DarkBlueColor);
}
.text_green{
  color: var(--GreenColor);
}
.text_yellow{
  color: var(--YellowColor);
}
.text_Gray{
  color: var(--GrayColor);
}
.text_red{
  color: var(--red);
}
.text_GraySec{
  color: var(--GraySec);
}
.bg-DarkBlueOldColor{
  background-color: var(--DarkBlueOldColor);
  color: #fff;
}
.DarkBlueSecColor{
  color: var(--DarkBlueSecColor);
}
.bg-DarkBlueSecColor{
  background-color: var(--DarkBlueSecColor);
}
.bg-BlueOldColor{
  background-color: var(--BlueOldColor);
}
.sp_style{
  min-height: 68vh !important;
  flex-wrap: wrap;
}
@media (max-width:992px) {
  .sp_style{
    flex-wrap: wrap-reverse !important;
  }
}
.bg_BBB{
  background-color: var(--BBB);
}
.GraySecColor{
  color: var(--GraySecColor);
}
.bg_GraySec{
  background-color: #F8F8F8;
}
.bgYellow{
  background-color: var(--YellowColor);
}
.bgGreen{
  background-color: var(--GreenColor);
}
.bgGray{
  background-color: var(--GrayFill);
}
.bgDark{
  background-color: var(--Dark);
}
.bgfillBlue{
  background-color: var(--fillBlue);
}
.bgfillOrange{
  background-color: var(--fillOrange);
}
.bgfillRed{
  background-color: var(--fillRed);
}
.bgfillGreen{
  background-color: var(--fillGreen);
}
.bluebg{
  background-color: var(--bluebg);
}
button:not(:disabled),
[type="button"]:not(:disabled),
 [type="reset"]:not(:disabled),
 [type="submit"]:not(:disabled){
  cursor: pointer ;
}
.btn{
  outline: none !important;
  border: none !important;
  cursor: pointer !important;
}
.btn_blue{
  background-color: var(--DarkBlueColor);
  color: var(--WhiteColor);
}
.btn_blue:hover{
  background-color: var(--DaknessBlue);
}
.btn_blue:focus{
  background-color: var(--DaknessBlue);
}

.btn_yellow{
  background-color: var(--YellowColor);
  color: var(--WhiteColor);
}
.btn_yellow:hover{
  background-color: var(--DarkYellowColor);
}
.btn_yellow:focus{
  background-color: var(--DarkYellowColor);
  outline: none;
}

.btn_red{
  background-color: #B10221;
  color: var(--WhiteColor);
}
.btn_red:hover{
  background-color: #9b011d;
}
.btn_red:focus{
  background-color: #9b011d;
  outline: none;
}

.btn_Green{
  background-color: var(--GreenColor);
  color: var(--WhiteColor);
}
.btn_Green:hover{
  background-color: var(--DarkGreenColor);
}
.btn_Green:focus{
  background-color: var(--DarkGreenColor);
}

.btn_blue_sp{
  background-color: var(--DarkBlueColor);
  color: var(--WhiteColor);
  border: 1px solid #fff;
}
.btn_blue_sp:hover{
  background-color: var(--DaknessBlue);
  border: 1px solid #fff;
}
.btn_blue_sp:focus{
  background-color: var(--DaknessBlue);
}
.font-16{
  font-size: 16px;
}
.rounded_0{
  border-radius: 8px;
}
.rounded_1{
  border-radius: 25px !important;
}
.m-sec{
  margin-top: 100px;
}
.mb-sec{
  margin-bottom: 100px;
}

.search_btn{
  background-color: var(--DarkBlueColor);
}
.search_btn:hover{
  background-color: var(--DaknessBlue);
}
.search_btn img{
  width: 20px;
}

.border_blue{
  border: 1px solid var(--DarkBlueColor);
  border-radius: 25px;
  width: 270px;
}

.border_Green{
  border: 1px solid var(--GreenColor);
  border-radius: 25px;
  width: 270px;
}

.border_orange{
  border: 1px solid var(--YellowColor);
  border-radius: 25px;
  width: 270px;
}

.border-radius{
  border-radius: 50%;
}

.border_blue_2{
  border: 1px solid var(--DarkBlueColor);
  border-radius: 15px;
  width: 330px;
}
.border_Green_2{
  border: 1px solid var(--GreenColor);
  border-radius: 15px;
  width: 330px;
}

.border_orange_2{
  border: 1px solid var(--YellowColor);
  border-radius: 15px;
  width: 330px;
}

.border_red_2{
  border: 1px solid var(--red);
  border-radius: 15px;
  width: 330px;
}

.fit_width{
  width: fit-content;
}

.cursor_pointer{
  cursor: pointer !important;
}


.border_blue_3{
  border: 1px solid var(--DarkBlueColor);
  border-radius: 10px;
  width: 200px;
}
.border_Green_3{
  border: 1px solid var(--GreenColor);
  border-radius: 10px;
  width: 200px;
}

.border_red_3{
  border: 1px solid var(--red);
  border-radius: 10px;
  width: 200px;
}

/* modal */
.modal-header .close{
  display: none !important;
}
